# Logs
logs

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE
.idea/
.vscode/

# OS 
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
*.lnk
*.cab
*.tmp
*.temp
*.bak
*.dmp
*.log
*.old
*.chk
*.swp
*.swo
*.swn
*.sublime-workspace
*.sublime-project
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb
$Recycle.Bin/
System Volume Information/

# some work file 
work-folder

# Playwright files
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
